*.cmake
*.G4Table
*CMakeFiles*
*.ninja*
*.swp
*.pcm
Makefiles
Makefile
CMakeCache.txt
*.dylib
*.so
*.gdml
*.root
*.root.log
*.vscode*
*.wrl
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.aux
*.toc
install_manifest.txt
.DS_store
.DS_Store
.last_*
npanalysis
npreader
npcalibration
npefficiency
nponline
nptool-cleaner
nptool-installer
NPData/*
Inputs/EnergyLoss/*.G4table
Inputs/CrossSection/G4XS*
Inputs/CrossSection/*.C
Inputs/CrossSection/*.dat
.ls_return
Documentation/user_guide.log
*.bbl
*.blg
*.SRIM
*.sublime-*
NPLib/Utility/npspectra_test
build/
!NPData/*
NPSimulation/npsimulation
